{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block title %}home{% endblock %}

{% block header %}
	<h1>iii home</h1>
{% endblock %}

{% block content %}

<p>
	What is iii? <br>
	iii is an interactive website that can help you to improve -or ruin- relationships!
</p>
<p>What does iii stand for?<br>
	iii stands for Index of Insolence in interactions.</p>
<p>How do you use iii?<br>Simply log in and click on the button in the main page fitting the infraction you are reporting.</p>
<p>What does iii do?<br>iii shows you the time at which an infraction was recorded and the infraction type. This helps you to know how to start aor avoid conflicts when used correctly. </p>

<form action="/signin">
	<button class="btn btn-lg">sign in</button>
</form>
<form action="/signup">
	<button class="btn btn-lg submit">sign up</button>
</form>
{% endblock %}
