{% extends 'base.html' %}

{% block head %}
<style>
body {
		background-color: lightblue;
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='libs/chartist.min.css') }}">
<script src="{{ url_for('static', filename='libs/chartist.min.js') }}"></script>
{% endblock %}

{% block title %}main{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">iii</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="new-group">New Group</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block header %}
<h1>iii main</h1>
{% endblock %}

{% block content %}

<div class="annoyances">
  <button class="btn btn-lg" onclick="logAnnoyance('you are stupid');">You are annoying</button>
  <button class="btn btn-lg" onclick="logAnnoyance('you are very dumb');">You are mean</button>
</div>


<div class="graphs card">
  <div class="ct-chart"></div>
	<div id="graphimgs">
		<img id="graphimg" src="{{ url_for('static', filename='img/iii.png') }}"></img>
	</div>
</div>

<div class="logs">
  <div class="card" id="lognew">
  </div>

  <div class="card" id="log">
    <h1>annoying</h1>
  </div>
</div>

<script>

  getAnnoyances();
  setInterval(getAnnoyances, 2000);

  function displayThem(data)
  {
    let tmp = "<h1>annoying new</h1>";
    for (let i = 0; i < data["annoyances"].length; i++)
    {
      tmp += "<h1>group: " + data["annoyances"][i][0];
      tmp += "<br>annoyance: " + data["annoyances"][i][1] + "</h1>";
    }
    $("#lognew").html(tmp);
		console.log("static/"+data["picture"]);
		$("#graphimgs").html('<img id="graphimg" src="static/' + data["picture"] + '"></img>')
  }

  function getAnnoyances()
  {
    $.get( "/getAnnoyances", {"group": "x"}, function(data) {
      displayThem(data);
    });
  }

  function createEntry(data)
  {
    let tmp = "Dates "+ data['dts'];
    tmp += "<br>";
    tmp += "Annoyance " + data["annoyance"];
    tmp += "<br><br>"
    return tmp;
  }

  function logAnnoyance(annoyance)
  {
    $.notify("annoyance logged " + annoyance);
    let data = {
      "dts": new Date(Date.now()),
      "annoyance": annoyance
    }
    $('div#log').append(createEntry(data));
    $.get("/insertAnnoyance", {"thegroup": "x", "stupid": "blah"});
  }

  var data = {
    labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
    series: [[5, 2, 4, 2, 0]]
  };
  new Chartist.Line('.ct-chart', data);

</script>
{% endblock %}
