{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block title %}main{% endblock %}

{% block header %}
	<h1>iii main</h1>
{% endblock %}

{% block content %}
<form action="/index">
	<button class="btn btn-lg">Home</button>
</form>
<button class="btn btn-lg" onclick="logAnnoyance('you are stupid');">You are annoying</button>
<button class="btn btn-lg" onclick="logAnnoyance('you are very dumb');">You are mean</button>

<div class="card" id="log">
	<h1>annoying</h1>
</div>

<script>

    setInterval(getAnnoyances, 2000);

    function getAnnoyances()
    {
        $.get( "/annoyance", {"group": "thegroup"}, function( data ) {
            console.log(data);
            alert( "Load was performed." );
        });
    }

  function createEntry(data)
  {
    let tmp = "Dates "+ data['dts'];
    tmp += "<br>";
    tmp += "Annoyance " + data["annoyance"];
    tmp += "<br><br>"
    return tmp;
  }

  function logAnnoyance(annoyance)
  {
    $.notify("annoyaance logged " + annoyance);
    let data = {
      "dts": new Date(Date.now()),
      "annoyance": annoyance
    }
    $('div#log').append(createEntry(data));
    $.post("/annoyance", {"thegroup": "x", "stupid": annoyance});
  }
</script>
{% endblock %}
