{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
<style>
  body {
    background-color: lightsalmon;
  }
</style>
{% endblock %}

{% block title %}signup{% endblock %}

{% block header %}
<h1>iii sign up</h1>
<form class="redir" action="/" method="GET">
	<button class="btn btn-lg">home</button>
</form>
<form class="redir" action="/signin" method="GET">
	<button class="btn btn-lg">sign in</button>
</form>
{% endblock %}

{% block content %}
<div class="form-group">
  <form action="/signup" method="post">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label for="pwd"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pwd" required>
    <br>
    <button type="submit" class="btn btn-lg">Sign up</button>
  </form>
</div>

<script>
  let url = new URL(window.location.href);
  let loginFail = url.searchParams.get("signup");
  if (loginFail == "fail")
  {
      $.notify("BAD SIGNUP");
  }
</script>

{% endblock %}
